#avatar_style {
  position: absolute;
  width: 15vh;
  height: 15vh;
  top: 1em;
  left: 1em;
  object-position: 1;
  border-radius: 80px;
}

.shadow {
  box-shadow: 1px 1px 3px grey;
  border-radius: 50px;
}

