.card {
    background-color: ivory;
    display: flex;
    flex-direction: column;
    /*width: 70vw;*/
    margin: auto;
    /* This automatically sets left/right margins */
    border-radius: 13px;
    box-shadow: 1px 1px 3px grey;
    position: relative;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-bottom: 1.5vh;
    text-align: center;
    width: 77vw;
}

.card-2 {
    background-color: ivory;
    display: flex;
    flex-direction: column;
    /*width: 70vw;*/
    margin: auto;
    /* This automatically sets left/right margins */
    border-radius: 13px;
    box-shadow: 1px 1px 3px grey;
    position: relative;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    padding-bottom: 1.5vh;
    text-align: center;
    width: 75vw;
}

.card h2 {
    text-align: center;
}

.card h5 {
    padding-left: 2vw;
    padding-right: 2vw;
}

.card-body {
    position: relative;
    margin: auto;
}

.description {
    position: relative;
    margin: auto;
}

.list-group {
    position: relative;
    margin: auto;
}

.list-group-item {
    text-align: left;
    position: relative;
    flex-wrap: nowrap;
}

.list-group-flush {
    position: relative;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 0.3em; */
}

.list-clear {
    padding-top: 7px;

}

.list-clear li {
    list-style-type: none;
}

.img-logo {
    position: relative;
    margin: auto;
    padding-top: 3vh;
    max-width: 15vw;
    max-height: 15vh;
}

.dock {
    position:relative;
    height: 10vh;
    bottom: 0;
    left: -1.2%;

}

.list-inline {
    
}

.list-inline>li {
    position: relative;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
    padding: none;
    left: -1.5%;
}

.img-techno {
    position: relative;
    margin: auto;
    max-height: 5vh;
    padding-top: 3vh;
    transition: width 4s ease-in-out;
}

.img-techno:hover {
    max-height: 8vh;
    
}
