.container {
    display: flex;
    flex-flow: column wrap;
    /*flex-direction: column;*/
    width: 80vw;
    /* This sets the width */
    margin: 0 auto;
    /* This automatically sets left/right margins */
    /*padding: 10px;*/
    background-color: rgb(240, 240, 240);
    border-radius: 13px;
    box-shadow: 1px 1px 3px grey;
    position: relative;
}


